# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
*.log


# IDE/project-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Temporary files
*.tmp
*.bak
